@{
    ViewData["Title"] = "BlogDetail";
}

<main>
    <section id="BlogDetail" class="pt-5 mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-10 col-xl-10 col-lg-12">
                    <figure class="figure mb-5 w-100">
                        <figcaption class="d-flex align-items-center mb-4">
                            <img src="/images/blog-img-1.png" class="ProfileImg object-cover rounded-circle me-2" alt="Profile" />
                            <div class="mb-0">
                                <label class="mb-0 Fsize_16 text-white d-block">John Smith</label>
                                <span class="Fsize_14 GreyColor"> 10:41 AM GMT+5 • March 31, 2022 • 3 Min Read </span>
                            </div>
                        </figcaption>
                        <h3 class="Fsize_48 mb-4">Parachains are Live! Elysium Launch is Now Complete</h3>
                        <a href="#">
                            <img src="/images/blog-img-1.png" class="mb-0 w-100 rounded-1" alt="Blog" />
                        </a>
                        <div class="py-3 p-sm-5 m-lg-5 GreyColor">
                            <p>
                                Today is an exciting and historic day for Polkadot. After 5 years of research and
                                development, and a <span class="GreenColor">multi-stage launch</span> that began in
                                May of 2020, Polkadot launch is
                                now complete, with all auction-winning parachains currently producing blocks on the
                                network.
                            </p>
                            <p>
                                The onboarding process for Polkadot’s first batch of five auction-winning parachains
                                began with the start of lease period 6 at 10:07 pm UTC last night. As of this
                                morning, all five parachains have now successfully onboarded to the network.
                            </p>
                            <p>
                                The winning parachains from Polkadot’s first batch of auctions were, in order,
                                <span class="GreenColor">Acala, Moonbeam, Astar, Parallel Finance, and Clover</span>.
                                After building an impressive
                                level of community support through crowdloans, to the tune of nearly 100 million
                                total DOT locked, all of them are now successfully onboarded and producing
                                blocks.
                            </p>
                            <p>
                                The launch of parachains on Polkadot represents the culmination of the original
                                vision outlined in the Polkadot Whitepaper (aka the Polkadot Paper) in 2016. The
                                Polkadot Paper outlined Polkadot’s core features and sketched out the network’s
                                sharded multichain design. Parachains are the final piece of core functionality, as
                                outlined in the paper, to be fully launched. How Polkadot evolves from here is up to
                                its community of DOT holders, who will approve any future upgrades via the network’s
                                on-chain governance system.
                            </p>

                            <h3 class="Fsize_48 text-white mt-5 mb-4">The Road to Parachains</h3>
                            <p>
                                Providing blockchain teams with <span class="GreenColor">several key advantages</span> over alternative and legacy
                                technologies, parachains are a key component of the original vision of Polkadot.
                                This vision has its roots in the early days of Ethereum, when Polkadot founder and
                                Ethereum cofounder Gavin Wood and others first began to think about what a
                                next-generation, sharded version of Ethereum could look like.
                            </p>

                            <p>
                                But the first concrete steps toward parachains came in the summer of 2016, when the
                                key insight was made that a sharded blockchain network could allow each shard or
                                blockchain in the network to have its own design. The idea for heterogeneous
                                sharding was born, and the vision for parachains was outlined shortly after in the
                                Polkadot Paper.
                            </p>

                            <p>
                                In terms of code, Polkadot and parachains began when Polkadot founder and parachains
                                Lead Developer Robert Habermeier made the <span class="GreenColor">first commit</span> to the Substrate Repo on
                                November 7th, 2017. The basis of Polkadot and all of the parachains now connected to
                                it, <span class="GreenColor">Substrate</span> has since had over 6000 commits from
                                more than 300 total contributors
                                — a monumental effort from the Polkadot developer community. After nearly 3 years of
                                development, Polkadot’s launch kicked off on May 26th, 2020, and parachains got
                                their first dedicated testnet with <span class="GreenColor">Rococo</span> that
                                August.
                            </p>

                            <h3 class="Fsize_48 text-white mt-5 mb-4">What’s Next</h3>
                            <p>
                                The next batch of Polkadot <span class="GreenColor">auctions</span> will begin on or around December 23rd, 2021
                                (block 8263710). The second batch will feature 6 auctions in total, with the 6
                                winning parachains to be onboarded on or around March 11th, 2022 (block
                                9388800).
                            </p>

                            <p>
                                Several future upgrades have been proposed for Polkadot that will continue to expand
                                the network’s capabilities into the future. These and all future upgrades will need
                                to be approved by Polkadot’s on-chain governance community. Proposed upgrades
                                include <span class="GreenColor">parathreads</span>, which will allow parachains to join the network on a
                                pay-per-block basis rather than leasing a slot via auction, and the full launch of
                                <span class="GreenColor">XCM</span>, Polkadot’s cross-chain message format.
                            </p>
                        </div>
                    </figure>
                </div>
            </div>
            <h4 class="text-center mb-3">Related Articles</h4>
            <div class="row gx-3 gy-4 mb-5 pb-5">
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="card">
                        <a href="#"><img src="/images/post-1.png" class="card-img-top mb-2" alt="Image" /></a>
                        <span class="Fsize_14 d-block mb-2"> March 31, 2022 </span>
                        <div class="card-body p-0">
                            <h5 class="Fsize_24 mb-3"><a href="#" class="text-white">Introducing Encointer: Making Web3 Truly Inclusive</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="card">
                        <a href="#"><img src="/images/post-2.png" class="card-img-top mb-2" alt="Image" /></a>
                        <span class="Fsize_14 d-block mb-2"> March 31, 2022 </span>
                        <div class="card-body p-0">
                            <h5 class="Fsize_24 mb-3"><a class="text-white" href="#">Despite declines, the value of crypto assets in DeFi protocols is up 3x from a year ago</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="card">
                        <a href="#"><img src="/images/post-3.png" class="card-img-top mb-2" alt="Image" /></a>
                        <span class="Fsize_14 d-block mb-2"> March 31, 2022 </span>
                        <div class="card-body p-0">
                            <h5 class="Fsize_24 mb-3"><a class="text-white" href="#">NFTs and crypto wallets could be in Discord’s future</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Subscribe" class="py-5 mt-md-5 mb-5">
        <div class="container my-lg-5 py-lg-5">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h3 class="ArchivoLight Fsize_42 text-center mb-5">Subscribe to the newsletter to hear about updates and events.</h3>
                    <div class="input-group d-block d-sm-flex">
                        <div class="flex-grow-1 position-relative me-sm-2 mb-2 mb-sm-0">
                            <i class="icon-email Fsize_24 position-absolute z-index-4 verticle-center ms-3"></i>
                            <input type="text" class="form-control rounded-pill shadow-none pe-2 bg-white" placeholder="Enter your email">
                        </div>
                        <button class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block shadow-none" type="button">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>