@{
    ViewData["Title"] = "About";
}
<main>
    <section id="Banner" class="py-5">
        <div class="container h-100 position-relative z-index-1">
            <div class="row align-items-center h-100">
                <div class="col-md-10">
                    <h2 class="ArchivoBold mb-5 ">
                        Elysium
                        <span class="ArchivoLight Fsize_56">making it </span>better <span class="ArchivoLight Fsize_56 ">to </span> <span class="ArchivoLight Fsize_56  d-inline-block"> build on </span> Ethereum
                        <span class="ArchivoLight Fsize_56">and</span>
                        <span class="ArchivoLight Fsize_56 d-block">beyond</span>
                        <span class="ArchivoExtraLight Fsize_32">The customisable layer-2 blockchain network that lets <br> you build on Ethereum at scale to process transactions <br> at 100x the speed and 1% of the cost.</span>
                    </h2>

                </div>
            </div>
        </div>
    </section>
    <section id="StoreSecure" class="RadialGradient mb-5 pb-5">
        <div class="container position-relative z-index-1">
            <div class="row justify-content-between">
                <div class="col-md-5">
                    <h3 class="ArchivoMedium">Store, Secure, and Manage crypto assets at your fingertips</h3>
                    <p class="RobotoLight py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate auctor erat, aDonec nec urna sed turpis tempus aliquam vel eu sapien.</p>
                    <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="#">
                        LEARN MORE
                    </a>
                </div>
                <div class="col-md-5">
                    <p class="RobotoLight">Consectetur adipiscing elit. Aliquam vulputate auctor erat, ac hendrerit lorem maximus non. Donec nec urna sed turpis tempus aliquam vel eu sapien. <br> <br> Maecenas arcu turpis, blandit et purus vitae, molestie blandit lacus. Vivamus condimentum sapien arcu, in commodo quam rhoncus vehicula. Fusce semper rutrum tortor et sagittis.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="BuildingElysium" class="RadialGradient mb-5 py-5">
        <div class="container text-center position-relative z-index-1">
            <h3 class="pb-5">Who’s building Elysium?</h3>
            <p class="RobotoLight pb-5">Elysium is the flagship project by VulcanForged, a Greece <br> Foundation founded to facilitate a fully functional and <br> user-friendly decentralized web.</p>
            <div class="row text-start">
                <div class="col-md-4">
                    <img src="./images/profile-img-1.png" alt="" class="img-fluid">
                    <h5 class="pt-3">Jamie Thomson</h5>
                    <p>CEO</p>
                </div>
                <div class="col-md-4">
                    <img src="./images/profile-img-2.png" alt="" class="img-fluid">
                    <h5 class="pt-3">Jason Mcivor</h5>
                    <p>CMO</p>
                </div>
                <div class="col-md-4">
                    <img src="./images/profile-img-3.png" alt="" class="img-fluid">
                    <h5 class="pt-3">Jaap</h5>
                    <p>CTO</p>
                </div>
            </div>
        </div>
    </section>

    <section id="Talk">
        <div class="container">
            <div class="row">
                <div class="col-md-6 line-height-38 ">
                    <h2 class="mb-5">We are the talk of the town</h2>
                    <p>ECheck out now, what’s going on.</p>
                    <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="#">
                        VIEW ALL NEWS
                    </a>
                </div>
                <div class="col-md-6 align-items-center">
                    <div class="row justify-content-between align-items-center gy-3">
                        <div class="col-md-3">
                            <img src="/images/img-built-technology.png" alt="Technology" class="img-fluid" />
                        </div>
                        <div class="col-md-9">
                            <p class="Fsize_16 RobotoLight">December 22, 2021</p>
                            <h4 class="Fsize_24">Polkadot Is Ready for Parachain Launch, Auction Dates Proposed</h4>
                        </div>
                        <div class="col-md-3">
                            <img src="/images/img-built-technology.png" alt="Technology" class="img-fluid" />
                        </div>
                        <div class="col-md-9">
                            <p class="Fsize_16  RobotoLight">December 22, 2021</p>
                            <h4 class="Fsize_24">Lessons Learned From Recent Outage of Elysium PoS</h4>
                        </div>
                        <div class="col-md-3">
                            <img src="/images/img-built-technology.png" alt="Technology" class="img-fluid" />
                        </div>
                        <div class="col-md-9">
                            <p class="Fsize_16  RobotoLight">December 22, 2021</p>
                            <h4 class="Fsize_24">Get the Right Tokens With Polygon Token Lists</h4>
                        </div>
                        <div class="col-md-3">
                            <img src="/images/img-built-technology.png" alt="Technology" class="img-fluid" />
                        </div>
                        <div class="col-md-9">
                            <p class="Fsize_16 RobotoLight">December 22, 2021</p>
                            <h4 class="Fsize_24">ClayStack Mainnet Goes Live On Polygon To Bring Liquid Staking</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="ElysiumTogether" class="py-5">
        <div class="container pb-5">
            <h3 class="text-center pb-5 mb-5">Let’s Scale Elysium Together</h3>
            <div class="row">
                <div class="col-md-6 d-flex">
                    <i class="icon-resource TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Developer Resources</h5>
                        <p>
                            Getting started with Polygon solutions with guide, documentation, tutorials, SDKs and
                            more.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <i class="icon-join-community TextGradient Fsize_80 mb-4"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Join the Community</h5>
                        <p>Become part of twitter or Telegram? We’ve many channels to onboard you.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <i class="icon-ecosystem TextGradient Fsize_80 mb-4"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Join the Ecosystem</h5>
                        <p>Want to BUIDL a dApp on Polygon or already have one and want to launch on Polygon?</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <i class="icon-secure-network TextGradient Fsize_80 mb-4"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Secure the Network</h5>
                        <p>Become a validator or Delegator for Polygon Pos Chain and secure the network</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
