<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet CSS -->
    <link href="~/css/style.css" rel="stylesheet">

    <title>Elysium</title>
</head>
<body>
    <div class="wrapper">

        <header id="header">
            <nav class="navbar navbar-dark navbar-expand-lg py-2">
                <div class="container position-relative">
                    <a class="navbar-brand" href="/Home/Index">
                        <img src="/images/logo.png" alt="Logo" class="img-fluid" />
                    </a>
                    <button class="navbar-toggler shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="Menu" class="navbar-collapse collapse p-4 p-lg-0">
                        <div class="d-flex justify-content-between">
                            <button class="navbar-toggler shadow-none border-0 p-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle navigation">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19.357" height="19.357" viewBox="0 0 19.357 19.357">
                                    <path id="close" d="M24.973,84.781l8.5-8.5a.688.688,0,1,0-.972-.973L24,83.808l-8.5-8.5a.688.688,0,0,0-.973.973l8.505,8.5-8.505,8.5a.688.688,0,0,0,.973.973l8.5-8.5,8.505,8.5a.688.688,0,1,0,.972-.973Z" transform="translate(-14.322 -75.102)" fill="#fff"></path>
                                </svg>
                            </button>
                            <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block d-lg-none" href="#">
                                GET STARTED
                            </a>
                        </div>
                        <ul class="navbar-nav align-items-lg-center ms-auto">
                            <li class="nav-item me-2 me-lg-2 me-xl-4 pt-2 pt-lg-0">
                                <a id="Technology" class="nav-link text-uppercase" href="/Home/Index">
                                    TECHNOLOGY
                                </a>
                            </li>
                            <li class="nav-item me-2 me-lg-2 me-xl-4 pt-2 pt-lg-0">
                                <a id="Community" class="nav-link text-uppercase" href="/Community">
                                    COMMUNITY
                                </a>
                            </li>
                            <li class="nav-item me-2 me-lg-2 me-xl-4 pt-2 pt-lg-0">
                                <a id="About" class="nav-link text-uppercase" href="/About">
                                    ABOUT
                                </a>
                            </li>
                            <li class="nav-item me-2 me-lg-2 me-xl-4 pt-2 pt-lg-0">
                                <a id="Developer" class="nav-link text-uppercase" href="/Developer">
                                    DEVELOPER
                                </a>
                            </li>
                            <li class="nav-item me-2 me-lg-2 me-xl-4 pt-2 pt-lg-0">
                                <a id="Blog" class="nav-link text-uppercase" href="/Blog">
                                    BLOG
                                </a>
                            </li>
                            <li class="nav-item me-2 me-lg-2 me-xl-4 pt-2 pt-lg-0">
                                <a id="Contact" class="nav-link text-uppercase" href="/Contact">
                                    CONTACT
                                </a>
                            </li>
                            <li class="nav-item pt-2 pt-lg-0 d-none d-lg-inline-block">
                                <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="#">
                                    GET STARTED
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()
        <footer id="footer" class="Fsize_14 RobotoLight text-white">
            <div class="container">
                <div class="border-top border-bottom py-5">
                    <div class="row pt-5">
                        <div class="col-md-3 mb-5 mb-md-0">
                            <img src="/images/logo-white.png" alt="Logo" class="img-fluid d-block mb-2 mb-md-4" />
                            <a class="" target="_blank" href="#"><i class="icon-facebook Fsize_42"></i></a>
                            <a class="" target="_blank" href="#"><i class="icon-twitter Fsize_42"></i></a>
                            <a class="" target="_blank" href="#"><i class="icon-instagram Fsize_42"></i></a>
                            <a class="" target="_blank" href="#"><i class="icon-linkedin Fsize_42"></i></a>
                        </div>
                        <div class="col-md-2 mb-5 mb-md-0 ms-md-auto">
                            <h6 class="mb-2 mb-md-4">ELYSIUM</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="py-1"><a href="/About">About</a></li>
                                <li class="py-1"><a href="#">FAQ</a></li>
                                <li class="py-1"><a href="#">Support</a></li>
                                <li class="py-1"><a href="#">Build</a></li>
                                <li class="py-1"><a class="RobotoBold" href="#">Grants and Bounties</a></li>
                                <li class="py-1"><a href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 mb-5 mb-md-0 ms-md-auto">
                            <h6 class="mb-2 mb-md-4">TECHNOLOGY</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="py-1"><a href="/Home">Technology</a></li>
                                <li class="py-1"><a href="#">Roadmap</a></li>
                                <li class="py-1"><a href="#">Token</a></li>
                                <li class="py-1"><a href="#">Telemetry</a></li>
                                <li class="py-1"><a class="RobotoBold" href="#">Substrate</a></li>
                                <li class="py-1"><a href="#">Lightpaper</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 ms-md-auto">
                            <h6 class="mb-2 mb-md-4">COMMUNITY</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="py-1"><a href="/Community">Community</a></li>
                                <li class="py-1"><a href="#">Documentation</a></li>
                                <li class="py-1"><a href="#">Brand Assets</a></li>
                                <li class="py-1"><a href="/Home/Blog">Blog</a></li>
                                <li class="py-1"><a class="RobotoBold" href="#">Element Chat</a></li>
                                <li class="py-1"><a href="#">Medium</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-sm-flex justify-content-between py-3 py-sm-5">
                    © 2022 Elysium
                    <ul class="d-inline-flex list-unstyled mb-0 pt-2 pt-sm-0">
                        <li class="me-3"><a href="#">Disclaimer</a></li>
                        <li class="me-3"><a href="/Privacy">Privacy</a></li>
                        <li><a href="#">Cookie Settings</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://kit.fontawesome.com/4f472b9b00.js" crossorigin="anonymous"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script>

    var currentLocation = window.location.href;
    if (currentLocation.indexOf("Home") >= 0) {
        $("#Technology").addClass('active');
    }
    else if (currentLocation.indexOf("Community") >= 0) {
        $("#Community").addClass('active');
    }
    else if (currentLocation.indexOf("About") >= 0) {
        $("#About").addClass('active');
    }
    else if (currentLocation.indexOf("Developer") >= 0) {
        $("#Developer").addClass('active');
    }
    else if (currentLocation.indexOf("Contact") >= 0) {
        $("#Contact").addClass('active');
    }

</script>