 @{
    ViewData["Title"] = "About Elysium";
}
<main>
    <section id="Banner" style="background-image: url('/images/bnr-about.png');" class="py-5">
        <div class="container h-100 position-relative z-index-1">
            <div class="row align-items-center h-100">
                <div class="col-lg-8">
                    <h2 class="mb-5"> Elysium <span class="ArchivoLight">making it </span>better <span class="ArchivoLight">to build on </span> Ethereum <span class="ArchivoLight">and beyond</span></h2>
                    <p class="ArchivoExtraLight Fsize_24 col-md-8">The customisable layer-2 blockchain network that lets you build on Elysium at scale to process transactions at 100x the speed and 1% of the cost.</p>
                </div>
            </div>
        </div>
    </section>
    <!--section id="StoreSecure" class="RadialGradient top-minus mb-5 pb-5">
        <div class="container position-relative z-index-1">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h3 class="ArchivoMedium mb-5">Store, Secure, and Manage crypto assets at your fingertips</h3>
                    <p class="RobotoLight mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate auctor erat, aDonec nec urna sed turpis tempus aliquam vel eu sapien.</p>
                </div>
                <div class="col-lg-5 RobotoLight">
                    <p class="mb-5">Consectetur adipiscing elit. Aliquam vulputate auctor erat, ac hendrerit lorem maximus non. Donec nec urna sed turpis tempus aliquam vel eu sapien. </p>
                    <p>Maecenas arcu turpis, blandit et purus vitae, molestie blandit lacus. Vivamus condimentum sapien arcu, in commodo quam rhoncus vehicula. Fusce semper rutrum tortor et sagittis.</p>
                </div>
                <div class="col-12">
                    <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="#">
                        LEARN MORE
                    </a>
                </div>
            </div>
        </div>
    </section-->
    <section id="BuildingElysium" class="RadialGradient mb-sm-5 py-5">
        <div class="container text-center position-relative z-index-1">
            <h3 class="pb-5">Who’s building Elysium?</h3>
            <p class="RobotoLight pb-5 col-lg-7 col-xl-5 text-center mx-auto">Elysium is the flagship project by VulcanForged, a Greece Foundation founded to facilitate a fully functional and user-friendly decentralized web.</p>
            <div class="row justify-content-center text-center text-md-start">
                <div class="col-md-6 text-center">
                    <svg id="Group_4312" data-name="Group 4312" xmlns="http://www.w3.org/2000/svg" width="431.102" height="236" viewBox="0 0 131.102 36">
                        <g id="Group_3649" data-name="Group 3649">
                            <rect id="Rectangle_398" data-name="Rectangle 398" width="6.312" height="25.248" transform="translate(53.651)" fill="#9ea5b4" />
                            <path id="Path_6546" data-name="Path 6546" d="M296,0h6.312V18.936h7.89v6.312H296Z" transform="translate(-179.23)" fill="#9ea5b4" />
                            <path id="Path_6547" data-name="Path 6547" d="M188.4,0l-6.312,0L174.2,14.2,166.312,0,160,0l14.2,25.245Z" transform="translate(-96.881)" fill="#9ea5b4" />
                            <path id="Path_6548" data-name="Path 6548" d="M84.4,25.245l-6.312,0-7.89-14.2-7.89,14.2-6.312,0L70.2,0Z" transform="translate(-33.908)" fill="#9ea5b4" />
                            <path id="Path_6549" data-name="Path 6549" d="M244.4,25.245l-6.312,0-7.89-14.2-7.89,14.2-6.312,0L230.2,0Z" transform="translate(-130.789)" fill="#9ea5b4" />
                            <path id="Path_6550" data-name="Path 6550" d="M0,0,6.312,0,14.2,14.2,22.092,0,28.4,0,14.2,25.248Z" fill="#9ea5b4" />
                        </g>
                        <path id="Path_6551" data-name="Path 6551" d="M138.261,79.924h-1.3v-.9h3.6v.9h-1.3v3.762h-1Zm8.456,2.859v.9h-3V79.021h2.929v.9H144.71v.9h1.843v.89H144.71v1.067Zm5.324,1a2.4,2.4,0,0,1-1.2-.3,2.241,2.241,0,0,1-.846-.858,2.607,2.607,0,0,1-.3-1.269,2.515,2.515,0,0,1,.316-1.275,2.227,2.227,0,0,1,.865-.846,2.431,2.431,0,0,1,1.206-.3,2.242,2.242,0,0,1,1.774.739l-.656.7a1.357,1.357,0,0,0-1.067-.473,1.514,1.514,0,0,0-.72.17,1.236,1.236,0,0,0-.5.5,1.642,1.642,0,0,0-.177.789,1.7,1.7,0,0,0,.17.783,1.254,1.254,0,0,0,.48.511,1.387,1.387,0,0,0,.7.177,1.35,1.35,0,0,0,.612-.139,1.658,1.658,0,0,0,.524-.417l.663.644a2.112,2.112,0,0,1-.814.65A2.458,2.458,0,0,1,152.041,83.78Zm8.707-4.759v4.665h-1V81.71H157.97v1.976h-1V79.021h1v1.786h1.774V79.021Zm7.211,0v4.74h-.139l-2.575-2.632v2.556h-1V78.939h.145l2.563,2.626V79.021Zm5.61,4.765a2.55,2.55,0,0,1-1.155-.278,2.343,2.343,0,0,1-.9-.833,2.4,2.4,0,0,1-.347-1.313,2.473,2.473,0,0,1,.347-1.338,2.234,2.234,0,0,1,.9-.827,2.551,2.551,0,0,1,1.155-.278,2.593,2.593,0,0,1,1.161.278,2.262,2.262,0,0,1,.915.833,2.63,2.63,0,0,1,.006,2.645,2.322,2.322,0,0,1-.915.833A2.6,2.6,0,0,1,173.569,83.786Zm0-.972a1.468,1.468,0,0,0,.675-.164,1.307,1.307,0,0,0,.524-.492,1.49,1.49,0,0,0,.2-.8,1.562,1.562,0,0,0-.2-.821,1.252,1.252,0,0,0-.524-.492,1.444,1.444,0,0,0-.675-.164,1.405,1.405,0,0,0-.669.164,1.231,1.231,0,0,0-.5.492,1.621,1.621,0,0,0-.189.821,1.567,1.567,0,0,0,.189.8,1.285,1.285,0,0,0,.5.492A1.429,1.429,0,0,0,173.569,82.814Zm8.327-.032v.9h-2.645V79.021h1v3.762Zm5.032,1a2.55,2.55,0,0,1-1.155-.278,2.343,2.343,0,0,1-.9-.833,2.4,2.4,0,0,1-.347-1.313,2.473,2.473,0,0,1,.347-1.338,2.234,2.234,0,0,1,.9-.827,2.551,2.551,0,0,1,1.155-.278,2.592,2.592,0,0,1,1.161.278,2.261,2.261,0,0,1,.915.833,2.63,2.63,0,0,1,.006,2.645,2.322,2.322,0,0,1-.915.833A2.6,2.6,0,0,1,186.928,83.786Zm0-.972a1.468,1.468,0,0,0,.675-.164,1.307,1.307,0,0,0,.524-.492,1.49,1.49,0,0,0,.2-.8,1.562,1.562,0,0,0-.2-.821,1.252,1.252,0,0,0-.524-.492,1.444,1.444,0,0,0-.675-.164,1.4,1.4,0,0,0-.669.164,1.23,1.23,0,0,0-.505.492,1.622,1.622,0,0,0-.189.821,1.567,1.567,0,0,0,.189.8,1.284,1.284,0,0,0,.505.492A1.429,1.429,0,0,0,186.928,82.814Zm9.987-1.755q.019.2.019.36a2.737,2.737,0,0,1-.271,1.25,1.964,1.964,0,0,1-.77.821,2.195,2.195,0,0,1-1.136.29,2.513,2.513,0,0,1-1.149-.278,2.25,2.25,0,0,1-.9-.827,2.4,2.4,0,0,1-.347-1.313,2.5,2.5,0,0,1,.334-1.326,2.163,2.163,0,0,1,.877-.833,2.455,2.455,0,0,1,1.155-.284,2.532,2.532,0,0,1,1.016.189,2.024,2.024,0,0,1,.764.555l-.682.669a1.209,1.209,0,0,0-.467-.335,1.556,1.556,0,0,0-.606-.114,1.38,1.38,0,0,0-.656.164,1.274,1.274,0,0,0-.5.5,1.608,1.608,0,0,0-.189.814,1.567,1.567,0,0,0,.189.8,1.258,1.258,0,0,0,.492.492,1.405,1.405,0,0,0,.669.164,1.155,1.155,0,0,0,.745-.215,1.043,1.043,0,0,0,.353-.656h-1.206V81.06Zm3.2-2.039h1v4.665h-1Zm7.493,3.762v.9h-3V79.021h2.929v.9H205.6v.9h1.843v.89H205.6v1.067Zm4.673,1a2.466,2.466,0,0,1-1.029-.2,2.963,2.963,0,0,1-.776-.524l.587-.738a2.127,2.127,0,0,0,.593.417,1.642,1.642,0,0,0,.638.126.927.927,0,0,0,.536-.133.439.439,0,0,0,.189-.372.348.348,0,0,0-.107-.265.739.739,0,0,0-.278-.158q-.164-.057-.461-.133a5.648,5.648,0,0,1-.764-.234,1.189,1.189,0,0,1-.726-1.187,1.341,1.341,0,0,1,.215-.751,1.444,1.444,0,0,1,.619-.518,2.121,2.121,0,0,1,.922-.189,2.3,2.3,0,0,1,.9.164,2.054,2.054,0,0,1,.675.436l-.562.726a1.615,1.615,0,0,0-.461-.3,1.331,1.331,0,0,0-.549-.107.92.92,0,0,0-.549.139.439.439,0,0,0-.189.372.333.333,0,0,0,.107.252.8.8,0,0,0,.271.151q.17.057.467.133a5.477,5.477,0,0,1,.764.246,1.222,1.222,0,0,1,.511.4,1.17,1.17,0,0,1,.215.745,1.431,1.431,0,0,1-.221.8,1.388,1.388,0,0,1-.612.524A2.183,2.183,0,0,1,212.278,83.78Z" transform="translate(-82.931 -47.786)" fill="#9ea5b4" />
                    </svg>
                </div>
                @*<div class="col-md-4">
            <div class="ImgTeamBox position-relative">
                <img src="/images/profile-img-1.png" alt="image" class="ImgTeam w-100 h-100 object-cover" />
            </div>
            <h5 class="pt-3">Jamie Thomson</h5>
            <p class="Fsize_18">CEO</p>
        </div>
        <div class="col-md-4">
            <div class="ImgTeamBox position-relative">
                <img src="/images/profile-img-2.png" alt="image" class="ImgTeam w-100 h-100 object-cover">
            </div>
            <h5 class="pt-3">Jason Mcivor</h5>
            <p class="Fsize_18">CMO</p>
        </div>
        <div class="col-md-4">
            <div class="ImgTeamBox position-relative">
                <img src="/images/profile-img-3.png" alt="image" class="ImgTeam w-100 h-100 object-cover">
            </div>
            <h5 class="pt-3">Jaap</h5>
            <p class="Fsize_18">CTO</p>
        </div>*@
            </div>
        </div>
    </section>
    <!--section id="TalkTown" class="py-5">
        <div class="container RadialGradient top-minus left-minus my-sm-5">
            <div class="row position-relative z-index-1">
                <div class="col-xl-4 col-lg-5 mb-4 mb-lg-0">
                    <h3 class="mb-4">We are the talk of the town</h3>
                    <p class="RobotoLight mb-4">Check out now, what’s going on.</p>
                    <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="#">
                        VIEW ALL NEWS
                    </a>
                </div>
                <div class="col-xl-6 col-lg-7 offset-xl-1">
                    <div class="row justify-content-between">
                        <div class="row align-items-center mb-3">
                            <div class="col-md-3">
                                <img src="/images/post-1.png" alt="image" class="w-100 rounded-3 NewsImg object-cover" />
                            </div>
                            <div class="col-md-9">
                                <p class="Fsize_16 RobotoLight GreyColor">December 22, 2021</p>
                                <h3 class="Fsize_24 mb-0">Polkadot Is Ready for Parachain Launch, Auction Dates Proposed</h3>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-3">
                                <img src="/images/post-2.png" alt="image" class="w-100 rounded-3 NewsImg object-cover" />
                            </div>
                            <div class="col-md-9">
                                <p class="Fsize_16 RobotoLight GreyColor">December 22, 2021</p>
                                <h3 class="Fsize_24 mb-0">Polkadot Is Ready for Parachain Launch, Auction Dates Proposed</h3>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-3">
                                <img src="/images/post-3.png" alt="image" class="w-100 rounded-3 NewsImg object-cover" />
                            </div>
                            <div class="col-md-9">
                                <p class="Fsize_16 RobotoLight GreyColor">December 22, 2021</p>
                                <h3 class="Fsize_24 mb-0">Polkadot Is Ready for Parachain Launch, Auction Dates Proposed</h3>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-3">
                                <img src="/images/post-1.png" alt="image" class="w-100 rounded-3 NewsImg object-cover" />
                            </div>
                            <div class="col-md-9">
                                <p class="Fsize_16 RobotoLight GreyColor">December 22, 2021</p>
                                <h3 class="Fsize_24 mb-0">Polkadot Is Ready for Parachain Launch, Auction Dates Proposed</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section-->
    <section id="ElysiumTogether" class="RadialGradient top-minus py-5 mt-sm-5">
        <div class="container position-relative z-index-1 py-5">
            <h3 class="text-center pb-5 mb-5">Let’s Scale Elysium Together</h3>
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-resource TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Developer Resources</h5>
                        <p class="mb-0">Getting started with Elysium solutions with guide, documentation, tutorials, SDKs and more.</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-join-community TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Join the Community</h5>
                        <p class="mb-0">Become part of twitter or Telegram? We’ve many channels to onboard you.</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-ecosystem TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Join the Ecosystem</h5>
                        <p class="mb-0">Want to BUILDS a dApp on Elysium or already have one and want to launch on Elysium?</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-secure-network TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Secure the Network</h5>
                        <p class="mb-0">Become a validator or Delegator for Elysium Chain and secure the network</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

                         