@{
    ViewData["Title"] = "Terms & Conditions";
}


<main class="py-5">
    <section id="TermsConditions">
        <div class="container pb-5">
            <div class="row justify-content-center">
                <div class="col-md-8 Fsize_16">
                    <h2 class="text-center mb-5">Terms <span class="TextGradient">&</span> Conditions</h2>

                    <h4 class="mb-2">Welcome to Elysium</h4>

                    <p>Elysium is a blockchain gaming company and an NFT marketplace platform that connects Buyers and Sellers of digital assets. Elysium, doing business all over the world under the brand name “Elysium” (the “Website” or the “Product” or the “Software” or the “System” or the “Platform”). </p>

                    <p>All transactions initiated through our service are facilitated and run by third-party electronic wallet extensions, and by using our services you agree that you are governed by these terms for the applicable extensions. For Arkane/Venly, the terms are available at (https://www.venly.io/terms-conditions).</p>

                    <p>Elysium merely acts as an intermediary between Buyers and Sellers. We are not a broker, financial institution, or creditor. Elysium only facilitates transactions in the auction but is not a party to any agreement between Buyer and Seller of crypto assets or between any users.</p>

                    <p>By visiting our website and/or purchasing something on our platform, you engage in our “service” and agree to be bound by the following Terms (the “Terms”). These Terms apply to all users of the website, including without limitation Users who are browsers, affiliates, customers, merchants, and/or contributors of content.</p>

                    <p>Please read these Terms carefully before accessing or using our Platform. By accessing or using any part of the Platform, you agree to be bound by these Terms. If you do not agree to all the terms of this agreement, then you may not access the website or use any service.</p>

                    <p>Any new features or tools which are added to the current platform shall also be subject to the Terms. You can review the most current version of the Terms at any time on this page. We reserve the right to update, change or replace any part of these Terms by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>

                    <h4 class="mt-5 text-white">1.	GENERAL RESTRICTIONS</h4>

                    <p>You represent, warrant, and agree that you will not use our Platform, interact with the service, in a manner that:</p>

                    <ul>
                        <li>(a) Infringes or violates the intellectual property rights or any other rights of anyone else;</li>
                        <li>(b) Violates any law;</li>
                        <li>(c) Is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, or otherwise objectionable;</li>
                        <li>(d) Jeopardizes the security of your Elysium account or anyone else’s (such as allowing someone else to log in to the service as you);</li>
                        <li>(e) Attempts, in any manner, to obtain the password, account, or other security information from any other user;</li>
                        <li>(f) Violates the security of any computer network, or cracks any passwords or security encryption codes;</li>
                        <li>(g) Runs Mail list, Listserv, any form of auto-responder or “spam” on the service, or any processes that run or are activated while you are not logged into the service, or that otherwise interfere with the proper working of the service (including by placing an unreasonable load on the service’ infrastructure);</li>
                        <li>(h) “Crawls,” “scrapes,” or “spiders” any page, data, or portion of or relating to the service or Content (through use of manual or automated means);</li>
                        <li>(i) Copies or stores any significant portion of the Content; or</li>
                        <li>(j) Decompiles, reverse engineers, or otherwise attempts to obtain the source code or underlying ideas or information of or relating to the service.</li>
                    </ul>

                    <p>A VIOLATION OF THE FOREGOING IS GROUNDS FOR TERMINATION OF YOUR RIGHT TO USE OR ACCESS THE SERVICE.</p>

                    <h4 class="mt-5 text-white">2.	ASSUMPTION OF RISK</h4>

                    You accept and acknowledge:
                    <ul>
                        <li>a)	The prices of blockchain assets are extremely volatile. Fluctuations in the price of other digital assets could materially and adversely affect the crypto assets, which may also be subject to significant price volatility. We cannot guarantee that any purchasers of Crypto Assets will maintain its original value.</li>
                        <li>b)	You are solely responsible for determining what, if any, taxes apply to your Crypto Assets transactions. Neither Elysium nor any other Elysium Party is responsible for determining the taxes that apply to Crypto Assets transactions.</li>
                        <li>c)	Elysium will provide custody over the crypto assets until it gets sold then it goes to the blockchain. This is because Crypto Assets exist only by virtue of the ownership record maintained on its supporting blockchain. Any transfer of crypto assets occurs within the supporting blockchain.</li>
                        <li>d)	There are risks associated with using an Internet based currency, including but not limited to, the risk of hardware, software and Internet connections, the risk of malicious software introduction, and the risk that third parties may obtain unauthorized access to information stored within your wallet. You accept and acknowledge that Elysium will not be responsible for any communication failures, disruptions, errors, distortions or delays you may experience when using the Crypto Assets, however caused.</li>
                        <li>e)	A lack of use or public interest in the creation and development of distributed ecosystems could negatively impact the development of those ecosystems and related applications, and could therefore also negatively impact the potential utility or value of Crypto Assets.</li>
                        <li>f)	The regulatory regime governing blockchain technologies, cryptocurrencies, and tokens is uncertain, and new regulations or policies may materially adversely affect the development of the Auction and/or Service and the utility of Crypto Assets.</li>
                        <li>g)	The Service will rely on third-party platforms such as MetaMask to perform the transactions for the Auction of Crypto Assets. If we are unable to maintain a good relationship with such platform providers; if the terms and conditions or pricing of such platform providers change; if we violate or cannot comply with the terms and conditions of such platforms; or if any of such platforms loses market share or falls out of favor or is unavailable for a prolonged period of time, access to and use of the Service will suffer.</li>
                        <li>h)	Elysium reserves the right to hide collections, contracts, and assets affected by any of these issues or by other issues. Assets you purchase may become inaccessible on Elysium. Under no circumstances shall the inability to view your assets on Elysium serve as grounds for a claim against Elysium.</li>
                    </ul>
                    <h4 class="mt-5 text-white">3.	GENERAL CONDITIONS</h4>

                    <p>We reserve the right to refuse service to anyone for any reason at any time. You agree not to reproduce, duplicate, copy, sell, resell or exploit any of the products on the websites, the designs, brand trademarks, registered trademarks, or brand campaigns through which the service is provided, without express written permission by us.</p>

                    <h4 class="mt-5 text-white">4.	ACCEPTABLE USE</h4>

                    You shall not
                    <ul>
                        <li>(a) provide System passwords or other log-in information to any third-party; </li>
                        <li>(b) share nonpublic System features or content with any third-party; </li>
                        <li>(c) access the System in order to build a competitive product or service, to build a product using similar ideas, features, functions or graphics of the System, or to copy any ideas; or </li>
                        <li>(d) engage in web scraping or data scraping on or related to the System, including without limitation collection of information through any software that simulates human activity or any bot or web crawler. </li>
                    </ul>
                    <p>If Elysium suspects that you have violated the requirements of this section, we may suspend your access to the System without advanced notice, in addition to other remedies we may have. </p>

                    <p>Elysium is not obligated to take any action against you or any other System user or other third party for violating this Agreement, but we are free to take any such action as it sees fit.</p>

                    <h4 class="mt-5 text-white">5.	SYSTEM ACCESS</h4>

                    You are responsible and liable for:
                    <ul>
                        <li>(a) your use of the Website, including unauthorised conduct and conduct that would violate the requirements of these Terms; </li>
                        <li>(b) any use of the Website through your account or passwords, whether authorized or not.</li>
                    </ul>

                    <h4 class="mt-5 text-white">6.	UNAUTHORIZED ACCESS</h4>

                    <p>You agree to take reasonable steps to prevent unauthorized access to the System, including by protecting your password and other log-in information. You shall notify Elysium immediately if you know of or suspect unauthorized use of the System or breach of its security. </p>

                    <h4 class="mt-5 text-white">7.	COMPLIANCE WITH LAW</h4>

                    <p>In using the Platform and our service, you shall comply with all applicable laws, including laws governing the protection of personally identifiable information and other laws applicable to the protection of your content.</p>

                    <h4 class="mt-5 text-white">8.	BUYERS RIGHTS</h4>

                    <p>Buyers receive a cryptographic token representing the Seller’s digital assets as a version of property, but do not own the intellectual property rights . Buyers may display and share the Digital assets, but Buyers do not have any legal ownership, right, or title to any copyrights, trademarks, or other intellectual property rights to the original assets, excepting the limited license to the Digital assets granted by these Terms. Upon collecting a Digital Asset, Buyers receive a limited, worldwide, non-assignable, non-sublicensable, royalty-free license to display the Digital assets legally owned and properly obtained by the Buyer.</p>

                    <h5>8.1 Physical Assets x Digital assets </h5>

                    <p>It is important to bear in mind that Buyers have the rights to the digital assets (NFT Version) not to the physical assets. When you buy a digital asset, you own only the digital assets, not the copyright to it. The copyright remains with the artist (owner). Thus, once you buy the digital assets you can resell it, it is yours to resell or keep, but again the copyright and intellectual property belongs to the artist (owner). That being said, don’t make confusion between your rights to the NFT Version and physical Assets. </p>

                    <p>The Buyer’s limited license to display the Digital assets, includes, but is not limited to, the right to display the Digital assets privately or publicly: (i) for the purpose of promoting or sharing the Buyer’s purchase, ownership, or interest, (ii) for the purpose of sharing, promoting, discussing, or commenting on the Digital assets; (iii) on third party marketplaces, exchanges, platforms, or applications in association with an offer to sell, or trade, the Digital assets; and (iv) within decentralized virtual environments, virtual worlds, virtual galleries, virtual museums, or other navigable and perceivable virtual environments.  </p>

                    <p>Buyers have the right to sell, trade, transfer, or use their digital assets, but Buyers may not make commercial use (modify, distort, market advertising, or other forms of media that infringe the IP rights), of the digital assets.  </p>

                    <p>The Buyer agrees that it may not, nor permit any third party, to do or attempt to do any of the foregoing without the Seller’s express prior written consent in each case: (i) modify, distort, mutilate, or perform any other modification to the Work which would be prejudicial to the Seller’s honor or reputation; (ii) use the Digital assets to advertise, market, or sell any third party product or service; (iii) use the Digital assets in connection with images, videos, or other forms of media that depict hatred, intolerance, violence, cruelty, or anything else that could reasonably be found to constitute hate speech or otherwise infringe upon the rights of others; (iv) incorporate the Digital assets in movies, videos, video games, or any other forms of media for a commercial purpose, except to the limited extent that such use is expressly permitted by these Terms or solely for your Buyer’s personal, non-commercial use; (v) sell, distribute for commercial gain, or otherwise commercialize merchandise that includes, contains, or consists of the Digital assets; (vi) attempt to trademark, copyright, or otherwise acquire additional intellectual property rights in or to the Digital assets; (vii) attempt to mint, tokenize, or create an additional cryptographic token representing the same Digital assets, whether on or off of Elysium Platform; (viii) falsify, misrepresent, or conceal the authorship of the Digital assets; or (ix) otherwise utilize the Digital assets for the Buyers or any third party’s commercial benefit.</p>

                    <p>Buyers irrevocably release, acquit, and forever discharge Elysium and its subsidiaries, affiliates, officers, and successors of any liability for direct or indirect copyright or trademark infringement for Elysium use of a Digital Asset in accordance with these Terms.</p>

                    <h4 class="mt-5 text-white">9.	COPYRIGHT COMPLAINTS</h4>

                    <p>Elysium respects the intellectual property of others, and we ask our users to do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, you should notify Elysium of your infringement claim in accordance with the procedure set forth below.</p>

                    <p>Elysium will process and investigate notices of alleged infringement and will take appropriate actions under the Digital Millennium Copyright Act (“DMCA”) and other applicable intellectual property laws with respect to any alleged or actual infringement. A notification of claimed copyright infringement should be emailed to <a href="mailto:foundation@vulcanforged.com" class="TextGreen">elysium@vulcanforged.com</a> (Subject line: “DMCA Takedown Request”). </p>

                    To be effective, the notification must be in writing and contain the following information:
                    <ul>
                        <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest; </li>
                        <li>a description of the copyrighted work or other intellectual property that you claim has been infringed; </li>
                        <li>a description of where the material that you claim is infringing is located on the Platform, with enough detail that we may find it on the Platform; </li>
                        <li>your address, telephone number, and email address; </li>
                        <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law; </li>
                        <li>a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner’s behalf. </li>
                    </ul>

                    <h4 class="mt-5 text-white">10.	SELLER RESPONSIBILITIES</h4>

                    The Seller acknowledges and agrees to the following:
                    <ul>
                        <li>a)	Provide a certificate or any kind of proof that the physical assets are legit (if applicable);</li>
                        <li>b)	Provide ownership physical assets document or intellectual rights;</li>
                        <li>c)	In case there is a similar copy of the assets on the blockchain, the seller must confirm that ours is the legit one;</li>
                        <li>d)	In case of IP rights dispute the owner will be liable for any justice request;</li>
                        <li>e)	Inform the company within five (5) days in case the physical assets have been sold or transferred to a different owner.</li>
                    </ul>

                    <h4 class="mt-5 text-white">11.	SMART-CONTRACT ENABLED </h4>

                    <p>The digital assets on Elysium is represented in smart contracts on Polygon blockchain that provide an immutable ledger of all transactions that occur on Elysium (“Smart Contracts”). This means that all Digital assets are outside of the control of any one party, including Elysium, and are subject to many risks and uncertainties. We neither own nor control MetaMask, the Ethereum network, your browser, or any other third party site, product, or service that you might access, visit, or use for the purpose of enabling you to use the various features of the Platform. We will not be liable for the acts or omissions of any such third parties, nor will we be liable for any damage that you may suffer as a result of your transactions or any other interaction with any such third parties.  </p>

                    <h4 class="mt-5 text-white">12.	CONNECTING YOUR WALLET</h4>

                    <p>In order to participate as a Seller in the marketplace, you must connect to a browser extension to act like an electronic wallet (“myforge” wallet) which allows you to sell, store, and engage in transactions using the native cryptocurrency. </p>

                    <h4 class="mt-5 text-white">13.	MODIFICATIONS TO THE PLATFORM</h4>

                    <p>Elysium reserves the right to modify or discontinue, temporarily or permanently, the Platform (or any part thereof) with or without notice. You agree that Elysium will not be liable to you or to any third party for any modification, suspension, or discontinuance of the Platform.</p>

                    <h4 class="mt-5 text-white">14.	SELLER RIGHTS / INTELLECTUAL PROPERTY</h4>

                    <p>The Seller owns all legal rights, title, and interest in all intellectual property rights underlying the Digital assets listed on the Platform, including but not limited to copyrights and trademarks. As the copyright owner, the Seller has the right to reproduce, prepare derivative Digital assets and display or perform the Digital assets. </p>
                    <p>Sellers hereby acknowledges, understands, and agrees that selling a Digital Asset on Elysium constitutes an express representation, warranty, and covenant that the Seller has not, will not, and will not cause another to sell, tokenize, or create another cryptographic token representing a digital collectible for the same Assets.</p>

                    The owner of the original asset acknowledges and agrees:
                    <ul>
                        <li>a)	To not allow any other token based on that Assets;</li>
                        <li>b)	Once the digital assets are tokenized (sold at least once), the owner should not create another token based on that original asset.</li>
                    </ul>

                    <p>The Seller hereby acknowledges, understands, and agrees that launching a Digital Asset on Elysium constitutes an express and affirmative grant to Elysium, its affiliates and successors a non-exclusive, world-wide, assignable, sublicensable, perpetual, and royalty-free license to make copies of, display, perform, reproduce, and distribute the Digital assets on any media whether now known or later discovered for the broad purpose of operating, promoting, sharing, developing, marketing, and advertising the Platform, or any other purpose related to Elysium, including without limitation, the express right to: (i) display or perform the Digital assets on the Platform, a third party platform, social media posts, blogs, editorials, advertising, market reports, virtual galleries, museums, virtual environments, editorials, or to the public; (ii) create and distribute digital or physical derivative Digital assets based on the Digital assets; (iii) indexing the Digital assets in electronic databases, indexes, catalogues; and (iv) hosting, storing, distributing, and reproducing one or more copies of the Digital assets within a distributed file keeping system, node cluster, or other database, or causing, directing, or soliciting others to do so.</p>

                    <p>Sellers expressly represent and warrant that their Digital assets listed on Elysium contains only original content otherwise authorized for use by the Seller, and does not contain unlicensed or unauthorized copyrighted content, including any imagery, design, audio, video, human likeness, or other unoriginal content not created by the Seller, not authorized for use by the Seller, not in the public domain, or otherwise, without a valid claim of fair use, the Seller further represents and warrants that it has permission to incorporate the unoriginal content.</p>

                    <h4 class="mt-5 text-white">15.	DISCLAIMER OF LIABILITY</h4>

                    <p>Elysium is not liable, and you agree not to hold us (owners, founder, co-founders, executive team, employees, subsidiaries, affiliates, agents) responsible for any: DAMAGES FOR LOSS OF REVENUES, PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES ARISING OUT OF OR RELATED TO YOUR USE OF THE WEBSITE OR THE SERVICE, REGARDLESS OF WHETHER SUCH DAMAGES ARE BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE AND STRICT LIABILITY), WARRANTY, STATUTE OR OTHERWISE.</p>
                    <p>The service and all products and service delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement. In no case shall Elysium, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured using the service, or for any other claim related in any way to your use of the service or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law.</p>

                    <h4 class="mt-5 text-white">16.	DISCLAIMER OF WARRANTIES</h4>

                    <p>Platform transactions, including but not limited to primary sales, secondary market sales, listings, offers, bids, acceptances, and other operations utilize experimental smart contract and blockchain technology, including non-fungible tokens, cryptocurrencies, consensus algorithms, and decentralized or peer-to-peer networks and systems or similar technologies. Users acknowledge and agree that such technologies are experimental, speculative, and inherently risky and may be subject to bugs, malfunctions, timing errors, hacking and theft, or changes to the protocol rules of the Ethereum blockchain (i.e., "forks"), which can adversely affect the smart contracts and may expose you to a risk of total loss, forfeiture of your digital currency or Digital assets, or lost opportunities to buy or sell Digital assets.  YOUR USE OF THE PLATFORM IS AT YOUR SOLE RISK. THE PLATFORM IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. Elysium EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.</p>
                    <p>Elysium MAKES NO WARRANTY THAT (I) THE PLATFORM WILL MEET YOUR REQUIREMENTS, (II) THE PLATFORM WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (III) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE PLATFORM WILL BE ACCURATE OR RELIABLE, OR (IV) THE QUALITY OF ANY PRODUCTS, PLATFORMS, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE PLATFORM WILL MEET YOUR EXPECTATIONS.</p>

                    <h4 class="mt-5 text-white">17.	WE DO NOT GET INVOLVED WITH USER DISPUTES</h4>

                    <p>You agree that you are solely responsible for your interactions with any other Users/Sellers in connection with the Platform and Elysium will have no liability or responsibility with respect thereto. Elysium reserves the right, but has no obligation, to become involved in any way with disputes between you and any other user of the Platform.</p>

                    <h4 class="mt-5 text-white">18.	PRIVACY POLICY </h4>

                    <p>You acknowledge the collection, use, disclosure and other handling of information described in our Privacy Policy at <a href="mailto:foundation@vulcanforged.com" class="TextGreen">PrivacyPolicy/Index</a> which we may update from time to time.</p>

                    <h4 class="mt-5 text-white">19.	CONDUCT AND BEHAVIOUR</h4>

                    <p>Without limitation other remedies, we may limit, suspend, or terminate your access to our service, restrict or prohibit access to, and your activities on, our service, remove or demote, delay or remove hosted content, remove any special status associated with the account, reduce or eliminate any discounts, and take technical and legal steps to keep you from using our service if:</p>

                    <ul>
                        <li>a)	We think that when you issue an account closure notification, you are taking away the user’s assets.</li>
                        <li>b)	We think that you are creating problems or possible legal liabilities for us, our users, suppliers or other third parties;</li>
                        <li>c)	We think that such restrictions will improve the security of Elysium community or reduce our or another Elysium User's exposure to financial liabilities;</li>
                        <li>d)	We think that you are infringing on the rights of third parties;</li>
                        <li>e)	We think that you are acting inconsistently with the letter or spirit of these Terms or our policies or abuse our employees or users.</li>
                    </ul>
                    <h4 class="mt-5 text-white">20.	ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION </h4>

                    <p>We are not responsible if information made available on this Website is not accurate, complete or current. Any reliance on the material on this Website is at your own risk. This Website may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this Website at any time, but we have no obligation to update any information on our website. You agree that it is your responsibility to monitor changes to our website.</p>

                    <h4 class="mt-5 text-white">21.	THIRD-PARTY LINKS </h4>

                    <p>Certain content, products and services available via our service may include materials from third-parties. Third-party links on this Website may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or service of third-parties. We are not liable for any harm or damages related to the purchase or use of goods, service, resources, content, or any other transactions made in connection with any websites or services including but not limited to fiat on ramp service. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.</p>

                    <h4 class="mt-5 text-white">22.	ERRORS, INACCURACIES AND OMISSIONS</h4>

                    <p>Occasionally there may be information on our website or in the service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order). We undertake no obligation to update, amend or clarify information in the service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the service or on any related website, should be taken to indicate that all information in the service or on any related website has been modified or updated.</p>

                    <h4 class="mt-5 text-white">23.	INDEMNIFICATION</h4>

                    <p>You agree to indemnify, defend and hold us harmless and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.</p>

                    <h4 class="mt-5 text-white">24.	SEVERABILITY</h4>

                    <p>In the event that any provision of these Terms is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms, such determination shall not affect the validity and enforceability of any other remaining provisions.</p>

                    <h4 class="mt-5 text-white">25.	ENTIRE AGREEMENT</h4>

                    <p>The failure of us to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. These Terms and any policies or operating rules posted by us on this Website or in respect to the service constitutes the entire agreement and understanding between you and us and government your use of the service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms). Any ambiguities in the interpretation of these Terms shall not be construed against the drafting party.</p>

                    <h4 class="mt-5 text-white">26.	GOVERNING LAW</h4>

                    <p>These Terms and any separate agreements whereby we provide you service shall be governed by and construed in accordance with the laws of Singapore.</p>

                    <h4 class="mt-5 text-white">CONTACT INFORMATION</h4>
                    <p>Questions about the Terms should be sent to us at <a href="mailto:foundation@vulcanforged.com" class="TextGreen">elysium@vulcanforged.com</a></p>
                </div>
            </div>
            </div>
</section>
</main>