                        @{
    ViewData["Title"] = "Developer";
}
<main>
    <section id="Banner" style="background-image: url('/images/bnr-developer.png');" class="py-5">
        <div class="container h-100 position-relative z-index-1">
            <div class="row align-items-center h-100">
                <div class="col-lg-8 col-xl-8 col-xxl-7">
                    <h2 class="mb-5"><span class="ArchivoLight">Security of </span> Substrate, <span class="ArchivoLight">with the </span> efficiency <span class="ArchivoLight">of</span> Elysium</h2>
                    <p class="ArchivoExtraLight Fsize_24 col-md-8 mb-5">Elysium is 100% open-source. Anyone can contribute to the codebase, run a node, or build services on Elysium. You can even get a grant.</p>
                    <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="/Home/GetStarted">GET STARTED Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--section id="ParachainSubstrate" class="RadialGradient mb-lg-5 py-5">
        <div class="container text-center position-relative z-index-1 mb-5">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8 col-xl-8 col-xxl-7">
                    <h3 class="pb-5">Easily build a Elysium parachain with Substrate</h3>
                    <p class="RobotoLight pb-5">Elysium is the flagship project by VulcanForged, a Greece Foundation founded to facilitate a fully functional and user-friendly decentralized web.</p>
                </div>
            </div>
            <div class="row g-5 justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <i class="icon-governance TextGradient Fsize_80 mb-4"></i>
                    <h5 class="Fsize_24 mb-2">Native Elysium compatibility</h5>
                    <p class="RobotoLight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate auctor erat, ac hendrerit maximus non.</p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <i class="icon-governance TextGradient Fsize_80 mb-4"></i>
                    <h5 class="Fsize_24 mb-2">Fork-free upgrades</h5>
                    <p class="RobotoLight">Proin vel mi eget mauris mollis volutpat nec at magna. Nam accumsan ex mi, ut consectetur justo dignissim eu.</p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <i class="icon-governance TextGradient Fsize_80 mb-4"></i>
                    <h5 class="Fsize_24 mb-2">Plug-and-play modular framework</h5>
                    <p class="RobotoLight">Duis neque sem, sagittis non condimentum in, pulvinar non lacus. Nunc sodales purus a nisl bibendum porttitor.</p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <i class="icon-governance TextGradient Fsize_80 mb-4"></i>
                    <h5 class="Fsize_24 mb-2">Interchain connectivity</h5>
                    <p class="RobotoLight">
                        Industry dominance, established tech stack, tools, languages, standards, enterprise
                        adoption
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <i class="icon-governance TextGradient Fsize_80 mb-4"></i>
                    <h5 class="Fsize_24 mb-2">Instant security</h5>
                    <p class="RobotoLight">
                        Industry dominance, established tech stack, tools, languages, standards, enterprise
                        adoption
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <i class="icon-governance TextGradient Fsize_80 mb-4"></i>
                    <h5 class="Fsize_24 mb-2">Multiple languages</h5>
                    <p class="RobotoLight">
                        Industry dominance, established tech stack, tools, languages, standards, enterprise
                        adoption
                    </p>
                </div>
            </div>
        </div>
    </section-->
    <!--section id="ElysiumSubstrate" class="py-5">
        <div class="container py-lg-5">
            <h3 class="text-center mb-lg-5 mt-5">Get started with Elysium Substrate</h3>
            <div class="row py-5 gy-3">
                <div class="col-md-6 col-lg-4">
                    <div class="SubstrateGradientBox rounded-3 overflow-hidden h-100">
                        <div class="position-relative p-4 rounded-3 h-100">
                            <div class="position-relative">
                                <h4 class="mb-2">Starter Kit - Elysium Academy</h4>
                                <p class="RobotoLight mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="RobotoBold GreenColor text-uppercase Fsize_18" href="#">Open DOCS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="SubstrateGradientBox rounded-3 overflow-hidden h-100">
                        <div class="position-relative p-4 rounded-3 h-100">
                            <div class="position-relative">
                                <h4 class="mb-2">Elysium PoS Documentation</h4>
                                <p class="RobotoLight mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="RobotoBold GreenColor text-uppercase Fsize_18" href="#">Open DOCS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="SubstrateGradientBox rounded-3 overflow-hidden h-100">
                        <div class="position-relative p-4 rounded-3 h-100">
                            <div class="position-relative">
                                <h4 class="mb-2">Setup your own Node Deployment</h4>
                                <p class="RobotoLight mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="RobotoBold GreenColor text-uppercase Fsize_18" href="#">Open DOCS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="SubstrateGradientBox rounded-3 overflow-hidden h-100">
                        <div class="position-relative p-4 rounded-3 h-100">
                            <div class="position-relative">
                                <h4 class="mb-2">Build a dApp on Elysium PoS</h4>
                                <p class="RobotoLight mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="RobotoBold GreenColor text-uppercase Fsize_18" href="#">Open DOCS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="SubstrateGradientBox rounded-3 overflow-hidden h-100">
                        <div class="position-relative p-4 rounded-3 h-100">
                            <div class="position-relative">
                                <h4 class="mb-2">Integration <br> Partners</h4>
                                <p class="RobotoLight mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="RobotoBold GreenColor text-uppercase Fsize_18" href="#">Open DOCS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="SubstrateGradientBox rounded-3 overflow-hidden h-100">
                        <div class="position-relative p-4 rounded-3 h-100">
                            <div class="position-relative">
                                <h4 class="mb-2">Contribute to Core Infrastructure</h4>
                                <p class="RobotoLight mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a class="RobotoBold GreenColor text-uppercase Fsize_18" href="#">Open DOCS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-->
    <!--section id="GroundbreakingTechnology" class="my-5 py-5">
        <div class="container py-lg-5 my-lg-5">
            <div class="row justify-content-between">
                <div class="col-md-5 mb-4 mb-md-0">
                    <img src="/images/ecosystem.png" alt="Technology" class="img-fluid" />
                </div>
                <div class="col-md-6 mb-lg-5 pb-lg-5">
                    <h3 class="mb-4">Get a grant to build the Elysium ecosystem</h3>
                    <p class="RobotoLight Fsize_22 mb-4">Elysium is a brand new network with a burgeoning ecosystem. <br> The Web3 Foundation is sponsoring community development of software services, including:</p>
                    <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="#">
                        SEE GRANT AND BOUNTIES
                    </a>
                </div>
            </div>
        </div>
    </section-->
    <section id="QuestionBox" class="mb-5 pb-5">
        <div class="container">
            <div class="GradientBackground RobotoLight p-3 p-sm-0">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7 col-xl-6 mb-3 mb-sm-0">
                        <div class="p-sm-5 my-lg-5 ms-lg-5">
                            <h3 class="Fsize_42 ArchivoLight">Have a question about building on Elysium?</h3>
                            @*<a class="BtnGreen text-uppercase py-2 px-3 mt-3 rounded-pill d-inline-block" href="#">
                                LETS CONNECT
                            </a>*@
                        </div>
                    </div>
                    <div class="col-lg-5 text-center py-5">
                        <img src="/images/aboutelysium.png" alt="Image" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

                         