@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="Banner" style="background-image: url('/images/bg-globe.jpg');">
        <div class="container h-100 position-relative z-index-1">
            <div class="row align-items-center h-100">
                <div class="col-md-10">
                    <h1 class="ArchivoBold mb-5">
                        <span class="ArchivoLight Fsize_56 d-block">Buildings trust in</span>
                        Blockchains
                        <span class="ArchivoExtraLight Fsize_32 d-block">Making complex topics clear</span>
                    </h1>
                    <a class="BtnGreen text-uppercase py-2 px-3 rounded-pill d-inline-block" href="#">
                        GET STARTED Now
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="DataAcrossBlockchain" class="RadialGradient top-minus mb-sm-5 pb-5">
        <div class="container position-relative z-index-1">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <h3 class="ArchivoMedium">
                        Any type of <span class="ArchivoBlack">Data</span> Across any type of
                        <span class="ArchivoBlack">Blockchain</span>
                    </h3>
                    <p>
                        Elysium is a network protocol that allows arbitrary data—not just tokens—to be transferred
                        across blockchains.
                    </p>
                </div>
                <div class="col-lg-5">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="GradientBox rounded-2 ArchivoMedium Fsize_18 text-uppercase p-3 h-100">
                                <div class="position-relative z-index-1">
                                    <h3 class="line-height-1 mb-1">100</h3>
                                    ACTIVE VALIDATORS
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="GradientBox rounded-2 ArchivoMedium Fsize_18 text-uppercase p-3 h-100">
                                <div class="position-relative z-index-1">
                                    <h3 class="line-height-1 mb-1">2TB</h3>
                                    TOTAL MATIC STAKED
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="GradientBox rounded-2 ArchivoMedium Fsize_18 text-uppercase p-3 h-100">
                                <div class="position-relative z-index-1">
                                    <h3 class="line-height-1 mb-1">$140M</h3>
                                    AVG DAILY GAS SAVED
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="GradientBox rounded-2 ArchivoMedium Fsize_18 text-uppercase p-3 h-100">
                                <div class="position-relative z-index-1">
                                    <h3 class="line-height-1 mb-1">13k</h3>
                                    DELEGATORS ON POS
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="EthereumAccessible" class="RadialGradient mb-5 py-5">
        <div class="container text-center position-relative z-index-1">
            <h3 class="pb-5 mb-sm-5">Elysium makes Ethereum <br> accessible for all</h3>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <i class="icon-eth-compatibility TextGradient Fsize_80 mb-4"></i>
                    <h5 class="mb-2">ETH Compatibility</h5>
                    <p>
                        Industry dominance, established tech stack, tools, languages, standards, enterprise
                        adoption
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="icon-scalability TextGradient Fsize_80 mb-4"></i>
                    <h5 class="mb-2">Scalability</h5>
                    <p>Dedicated blockchains, scalable consensus algorithms, custom Wasm execution environments</p>
                </div>
                <div class="col-md-4">
                    <i class="icon-security TextGradient Fsize_80 mb-4"></i>
                    <h5 class="mb-2">Security</h5>
                    <p>
                        Modular ‘’security as a service’’, provided either by Ethereum or by a pool of professional
                        validators
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="NetworkGlossary">
        <div class="container">
            <div class="GradientBackground RobotoLight">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="p-4 py-sm-5 ps-sm-5 pe-sm-5 my-sm-5 ms-sm-5">
                            <h2><span class="d-block Fsize_42 ArchivoLight">NETWORK</span>GLOSSARY</h2>
                            <p>
                                Elysium unites a network of heterogeneous blockchains called parachains and
                                parathreads. These chains connect to and are secured by the Elysium Relay Chain.
                                They can also connect with external networks via bridges.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-end text-center">
                        <img src="/images/img-network-glossary.png" alt="Image" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="BestTechnology">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-7 col-lg-6 line-height-38 order-1 order-lg-2">
                    <h2 class="mb-5">Built with the Best Technology</h2>
                    <p>
                        Elysium’s relay chain is built with Substrate, a blockchain-building framework that is the
                        distillation of Parity Technologies’ learnings building Ethereum, Bitcoin, and enterprise
                        blockchains.
                    </p>
                </div>
                <div class="col-xxl-6 col-xl-5 col-lg-6 order-1 order-lg-1 text-center">
                    <img src="/images/img-built-technology.png" alt="Technology" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="ProcessingTransactions" class="pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-7 col-lg-6 line-height-38">
                    <h2 class="mb-5">Processing Transactions in Parallel</h2>
                    <p>
                        Elysium’s relay chain is built with Substrate, a blockchain-building framework that is the
                        distillation of Parity Technologies’ learnings building Ethereum, Bitcoin, and enterprise
                        blockchains.
                    </p>
                    <p>Interactions on parachains are processed in parallel, enabling highly scalable systems.</p>
                    <p>
                        Transactions can be spread out across the chains, allowing many more transactions to be
                        processed in the same period of time.
                    </p>
                </div>
                <div class="col-xxl-6 col-xl-5 col-lg-6 text-center">
                    <img src="/images/img-processing.png" alt="Processing" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <section id="GroundbreakingTechnology" class="mb-sm-5 py-5">
        <div class="container position-relative z-index-1 pt-sm-5 mt-sm-5">
            <div class="row pt-5">
                <div class="col-lg-5 mb-5 pb-sm-5">
                    <h3 class="mb-5">Groundbreaking Technology</h3>
                    <p>
                        Elysium is solving many of the problems that have held back blockchain technology so far -
                        all in one place, without compromising.
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4">
                    <i class="icon-lock TextGradient Fsize_80 mb-4"></i>
                    <h5 class="min-height-68 ArchivoSemiBold mb-2">A better security model</h5>
                    <p>
                        Industry dominance, established tech stack, tools, languages, standards, enterprise
                        adoption
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="icon-green-energy TextGradient Fsize_80 mb-4"></i>
                    <h5 class="min-height-68 ArchivoSemiBold mb-2">A green, energy-efficient protocol</h5>
                    <p>
                        Cras feugiat a libero ac facilisis. Suspendisse ac velit sed purus molestie sodales nec ac
                        metus.s
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="icon-governance TextGradient Fsize_80 mb-4"></i>
                    <h5 class="min-height-68 ArchivoSemiBold mb-2">Transparent on-chain governance</h5>
                    <p>
                        Nullam sit amet enim suscipit, commodo est in, sagittis enim. Integer maximus tortor eget
                        congue ultricies
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="BuildingElysium" class="RadialGradient my-sm-5 py-5">
        <div class="container position-relative z-index-1">
            <div class="row pt-5">
                <div class="col-xxl-6 col-xl-7 col-lg-7 mb-5 pb-5">
                    <h3 class="mb-4">What are teams building on Elysium?</h3>
                    <h4 class="ArchivoExtraLight ">Just a few examples!</h4>
                </div>
            </div>
            <div class="row RobotoLight">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Smart contract chains</span> with WebAssembly smart
                            contracts (Astar, Moonbeam).
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Data curation networks</span> that connect all file
                            storage chains into curated data sets.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Oracle chains</span> that make off-chain data
                            available to all contracts on the Polkadot network (ChainLink)
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Identity chains</span> that link accounts to a
                            persistent identity and enable access to other parachains through fewer accounts (Kilt)
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Financial chains</span> that allow you to hold all
                            your assets in one portfolio, including via bridges to Bitcoin, Ethereum, Bitcoin Cash,
                            Litecoin and ZCash (Acala, Parallel Finance)
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Internet of Things</span> chains that set IoT
                            standards for machine-to-machine communication (Robonomics)
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom border-bottom-xxl-0 h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Zero Knowledge</span> privacy chains, or bridges to
                            existing ZK-snarks chains
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom border-bottom-xxl-0 h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">File storage chains</span> that incentivize storing
                            data on-chain
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-bottom border-bottom-xxl-0 h-100 me-md-5">
                        <p class="mb-4">
                            <span class="RobotoBold">Bridge to Ethereum</span>, allowing Ethereum smart
                            contracts to interact with the Polkadot network
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ElysiumTogether" class="pb-5 mb-5">
        <div class="container pb-5">
            <h3 class="text-center pb-5 mb-sm-5">Let's Scale Elysium Together</h3>
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-resource TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Developer Resources</h5>
                        <p class="mb-0">Getting started with Polygon solutions with guide, documentation, tutorials, SDKs and more.</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-join-community TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Join the Community</h5>
                        <p class="mb-0">Become part of twitter or Telegram? We’ve many channels to onboard you.</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-ecosystem TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Join the Ecosystem</h5>
                        <p class="mb-0">Want to BUIDL a dApp on Polygon or already have one and want to launch on Polygon?</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                    <i class="icon-secure-network TextGradient Fsize_80"></i>
                    <div>
                        <h5 class="min-height-68 ArchivoSemiBold mb-1">Secure the Network</h5>
                        <p class="mb-0">Become a validator or Delegator for Polygon Pos Chain and secure the network</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>